@media screen and (max-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    position: fixed;
  }

  .logo {
    display: none !important;
  }

  .logo2 {
    display: block !important;
  }

  .login-box,
  .nav ul li {
    display: none;
  }

  .menu-hamburger {
    cursor: pointer;
    display: flex;
    margin-left: 572px;
  }

  .mobile-hero {
    padding: 0.9rem;
  }

  .mobile-hero {
    margin-top: 60px;
    margin-left: 17%;
  }

  .mobile-hero img {
    margin-top: 1rem;
    margin-right: 0.5rem;
  }

  .hero-heading {
    font-size: 1.986rem;
  }

  .text {
    font-size: 1rem;
  }

  .pre-component {
    display: flex;
  }

  .hero-btn img {
    margin-left: 14px;
    margin-top: -3px;
  }

  .logo-tesla {
    display: none;
  }

  .section {
    grid-template-columns: repeat(1, 1fr);
    padding: 50px;
  }

  .img-box {
    gap: 15px;
    justify-content: left;
    margin-top: 10px;
  }

  .img-box img {
    width: 175px;
    height: 175px;
  }
}
