@import url("./breakpoints.css");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #e51d37;
  --dark-10: #333333;
  --dark-20: #646466;
  --dark-30: #f2f4fd;
  --white: #ffffff;
  --grey-10: rgba(242, 244, 253, 1);

  --fontInter: "Inter";
  --fontSora: "Sora";

  --paddingPattern: 4px; /* 4px -> isso aq vai ser alterado */
}

html {
  text-rendering: optimizeLegibility;
  image-rendering: optimizeQuality;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--grey-10);
}

.header-component {
  width: 100%;
  position: fixed;
}

.change-bg {
  background-color: var(--brand-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 120rem;
  padding: 0;
  height: 4.5rem;
  padding: var(--paddingPattern);
}

.nav {
  margin: 0 auto;
}

.logo,
.logo2 {
  margin-right: 64px;
}

.logo2,
.arrow-down {
  display: none;
}

.nav,
.nav ul {
  display: flex;
  align-items: center;
}

.nav ul {
  color: var(--dark-10);
  list-style: none;
}

.nav ul li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.nav ul li:not(:first-child) {
  padding-left: 25px;
}

.nav ul li img {
  margin-left: 6px;
  cursor: pointer;
}

.login-box {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-right: 7.5rem;
}

.nav ul li p,
.login-box p {
  cursor: pointer;
  font-family: var(--fontInter);
  font-size: 20px;
  font-weight: 500;
}

.login-box p {
  color: var(--white);
}

.menu-hamburger {
  display: none;
}
