@import url("./breakpoints.css");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #e51d37;
  --dark-10: #333333;
  --dark-20: #646466;
  --dark-30: #f2f4fd;
  --white: #ffffff;
  --grey-10: rgba(242, 244, 253, 1);
  --green-button: #40c057;

  --fontInter: "Inter";
  --fontSora: "Sora";

  --paddingPattern: 4px; /* 4px -> isso aq vai ser alterado */
}

html {
  text-rendering: optimizeLegibility;
  image-rendering: optimizeQuality;
  scroll-behavior: smooth;
  /* max-width: 100%; */
  overflow-x: hidden;
}

body {
  background-color: var(--dark-30);
}

.header-component {
  width: 100%;
  position: fixed;
}

.change-bg {
  background-color: var(--brand-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 120rem;
  padding: 0;
  height: 4.5rem;
  padding: var(--paddingPattern);
}

.nav {
  margin: 0 auto;
}

.logo,
.logo2 {
  margin-right: 64px;
}

.logo2,
.arrow-down {
  display: none;
}

.nav,
.nav ul {
  display: flex;
  align-items: center;
}

.nav ul {
  color: var(--dark-10);
  list-style: none;
}

.nav ul li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.nav ul li:not(:first-child) {
  padding-left: 25px;
}

.nav ul li img {
  margin-left: 6px;
  cursor: pointer;
}

.login-box {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-right: 7.5rem;
}

.nav ul li p,
.login-box p {
  cursor: pointer;
  font-family: var(--fontInter);
  font-size: 20px;
  font-weight: 500;
}

.login-box p {
  color: var(--white);
}

.menu-hamburger {
  display: none;
}

.main-component {
  margin: 0px 28px;
}

.first-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 180px;
  padding: 190px;
  max-width: 100%;
  background-image: url("../assets/Vector\ 1113.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.img-section img {
  margin-right: -150px;
  margin-top: -225px;
}

.first-text {
  margin-bottom: 390px;
}

.first-text h2 {
  font-family: var(--fontInter);
  font-weight: 600;
  font-size: 40px;
  color: var(--brand-color);
  line-height: 50px;
}

.first-text p {
  font-family: var(--fontInter);
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--dark-10);
  line-height: 25px;
  margin-top: 1.5rem;
}

.buttons-first {
  margin-top: 3.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.buttons-first button {
  border-radius: 3.5px;
  text-align: center;
  width: 210px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border: none;
  background-color: var(--brand-color);
}

.buttons-first a {
  text-align: center;
  font-size: 1.2rem;
  font-family: var(--fontInter);
  font-weight: 500;
  color: var(--dark-30);
  text-decoration: none;
}

.buttons-first a img {
  margin-bottom: -4px;
}

.buttons-first button:hover {
  filter: opacity(1.2);
}

.buttons-first img:hover,
.icon-item:hover {
  cursor: pointer;
  transform: scale(1.4);
  transition: 150ms ease-in-out;
}

.pre-component {
  display: none;
  width: 800px;
  height: 885px;
  background-color: var(--brand-color);
}

.hero-heading {
  font-family: var(--fontInter), sans-serif;
  font-weight: 600;
  font-size: 64px;
  color: var(--dark-30);
}

.second {
  margin-top: 2px;
}

.text {
  font-family: var(--fontInter);
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-30);
  margin-top: 18px;
}

.mobile-hero,
.hero-text {
  display: flex;
  place-items: center;
  flex-direction: column;
  padding: 14px;
}
.hero-text {
  margin-top: 2.5rem;
}

.hero-btn {
  margin-top: 1.5rem;
  width: 274px;
  height: 64px;
  background-color: var(--dark-30);
  font-family: var(--fontInter);
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-10);
  text-decoration: none;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.hero-btn img {
  line-height: 0;
  margin-left: 12px;
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 200px;
  max-width: 100%;
}

.text-box h3,
.modal h1 {
  font-family: var(--fontInter);
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
  color: var(--dark-10);
}

.text-box h3 span {
  color: var(--brand-color);
}

.text-box p {
  font-family: var(--fontInter);
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  margin-top: 1.5rem;
}

.img-box img {
  cursor: pointer;
  width: 250px;
  height: 250px;
}

.img-box img:hover,
.modal-btn:hover,
.accordion-togle:hover {
  transition: all ease-in-out 5ms;
  filter: brightness(0.8);
}

.logo-tesla {
  margin-left: 200px;
}

.img-box {
  margin-top: -100px;
  width: 500px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.footer {
  margin-top: 64px;
  max-width: 100vw;
  padding: 12px;
}

.footer div {
  margin: 0px 200px;
  font-family: var(--fontInter);
  display: flex;
  justify-content: space-between;
}

.footer div p {
  font-weight: 300;
  color: var(--dark-10);
  margin-left: 50px;
}

.highlight {
  font-weight: 500;
}

.footer div span {
  color: var(--brand-color);
  display: inline-flex;
  align-items: center;
}

.footer div span img {
  margin-left: 20px;
}

.footer div span img {
  margin-right: 50px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(2px);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.modal h1 {
  margin: 0 auto;
}

.modal {
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 20px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  padding: 30px 50px;
  width: 700px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.modal label {
  font-size: 0.956rem;
  font-family: var(--fontSora);
  color: var(--dark-10);
  margin-bottom: -12px;
}

.modal input {
  padding: 10px;
  max-width: 608px;
  height: 56px;
  border-radius: 6px;
  outline: 1px solid var(--dark-20);
  border: none;
  font-size: 0.956rem;
  font-family: var(--fontSora);
  color: var(--dark-10);
}

.modal input:focus {
  outline: 1px solid red;
}

.modal-btn {
  width: 128px;
  border: none;
  cursor: pointer;
  outline: 1px solid var(--dark-20);
  padding: 20px;
  background-color: var(--brand-color);
  font-size: 0.956rem;
  font-family: var(--fontSora);
  border-radius: 4.5px;
  color: var(--dark-30);
  outline: none;
}

.btn-box {
  display: inline-flex;
  gap: 16px;
}

.login {
  background-color: #40c057;
}

.show {
  opacity: 1;
  pointer-events: auto;
}

.dropbtn {
  outline: none;
  border: none;
  background: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding: 13px;
  width: 150px;
  max-height: 175px;
  display: none;
  position: absolute;
  background-color: var(--dark-30);
  border: 1px solid var(--dark-10);
  border-radius: 4px;
}

.dropdown-content a {
  font-family: var(--fontInter);
  margin-top: 9px;
  font-weight: 500;
  font-size: 0.986rem;
  color: var(--dark-10);
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  transition: all ease-in-out 5ms;
  text-decoration: underline 2.5px var(--brand-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.error {
  display: none;
  font-family: var(--fontInter);
  font-size: 12px;
  font-weight: 400;
  color: var(--brand-color);
}

.accordion-component {
  display: flex;
  place-items: center;
  flex-direction: column;
  max-width: 100%;
  margin-top: 1.5rem;
}

.accordion-text {
  text-align: center;
}

.accordion-component h3 {
  color: var(--brand-color);
  margin-bottom: 25px;
}

.accordion-component h1 {
  font-family: var(--fontInter);
  font-size: 40px;
  font-weight: 600;
}

.accordion-component p,
.accordion-component h3 {
  font-family: var(--fontInter);
  font-size: 20px;
  font-weight: 500;
}

.accordion-component p {
  color: var(--dark-10);
  margin-top: 25px;
  margin-bottom: 1.5rem;
}

.cards-accordion {
  display: flex;
  flex-direction: column;
  place-items: left;
  gap: 4.5rem;
  padding: 1rem;
}

.cards-accordion span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 768px;
  height: 60px;
  padding: 29px;
  margin-top: 1.5rem;
}

.card-text h2 {
  margin-top: 12px;
  font-family: var(--fontInter);
  font-size: 18px;
  font-weight: 500;
}

.cards-accordion span p {
  font-family: var(--fontInter);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 19px;
}

.accordion {
  cursor: pointer;
}

.active {
  display: block;
}

.label {
  font-size: 14px !important;
  color: red;
  display: none;
}

.testimonials-component {
  padding: 1rem;
  margin: 50px;
}

.testimonial-text {
  margin-bottom: 2.5rem;
}

.testimonial-text h3 {
  font-family: var(--fontInter);
  font-size: 20px;
  font-weight: 500;
  color: var(--brand-color);
  line-height: 24px;
  margin-bottom: 0.5rem;
}

.testimonial-text h1 {
  font-family: var(--fontInter);
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
}

.testimonial-text h1 span {
  font-family: var(--fontInter);
  font-size: 36px;
  font-weight: 400;
}

.testimonial-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}

.cards {
  display: flex;
}

.cards::before {
  content: "";
  display: block;
  background-color: var(--brand-color);
  width: 12px;
  height: 40px;
}

.cards h2 {
  margin-left: 8px;
  font-family: var(--fontInter);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 0.9rem;
}

.cards p {
  font-family: var(--fontInter);
  font-size: 18px;
  font-weight: 400;
}

.offer-component {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url("../assets/Vector\ 1113.svg");
  background-repeat: no-repeat;
  background-position: top;
  margin-top: -290px;
}

.offer-text {
  font-family: var(--fontInter);
  color: var(--dark-10);
  margin-bottom: 2rem;
}

.offer-text h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 12px;
}

.offer-text h1 span {
  color: var(--brand-color);
}

.offer-component {
  padding: 1.5rem;
}

.offer-text p {
  font-weight: 400;
  line-height: 25px;
}

.benefits {
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 4rem;
  list-style: none;
  font-family: var(--fontInter);
  color: var(--dark-10);
}

.benefits img {
  margin-right: 1.5rem;
}

.benefits-item {
  display: flex;
}

.benefits-item span h4 {
  margin-bottom: 0.9rem;
}

.details-component {
  margin-top: 2.5rem;
  padding: 0.9rem;
  font-family: var(--fontInter);
  color: var(--dark-10);
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.details-text h4 {
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--brand-color);
  line-height: 25px;
}

.details-text h1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 63px;
}

.details-text h1 span {
  color: var(--brand-color);
}

.card-details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  gap: 1.5rem;
  width: 280px;
  height: 296px;
  background-color: var(--dark-30);
  border-radius: 4.5px;
}

.card-details a {
  font-weight: 600;
  line-height: 19px;
  text-decoration: underline;
  color: var(--brand-color);
}

.second-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 210px;
}

.second-cards {
  font-family: var(--fontInter);
  color: var(--dark-10);
}
